#map {  margin:0 auto; box-shadow: 10px 10px;}

/* MapBox GL JS marker style */
.marker {
  background-image: url('../images/marker.png'); /* marker image*/
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
 
}

/* MapBox GL JS marker pop-up style */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/* END MapBox GL JS pop-up style */

.info{margin-top:40px;}


/* CSS for marker on click */

.marker-clicked {
  background-image: url('../images/marker_green.jpg'); /* marker image*/
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
 
}


div.bordered:empty { 
    border: none;
}

.bordered{
	border: 1px solid grey;
	border-radius:20px;
	margin-top:25px;
	padding: 10px;	
}


#matrixWindow{margin-top:160px;}


 /* Class that sets background-image */
.head-style{
	
	color:white;
	background-color:lavender;padding:10px;
	/*background-image: url('../images/pattern2.png');*/  
	text-shadow: 1px 1px 2px black, 0 0 1em red; /* Shadow params */
	/* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */
	
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
     transition: all 1.5s ease;
}

/* in header-> from: to: span (in header) */
.start-end-info{
	border:1px solid white; font-size:10px;padding:3px;
}

/* {X} icon to clear from: to: span */
#clearArray{margin-left:1%;margin-right:0,1%;cursor:pointer;}

#ETA{width:80%; margin-left:8%; text-shadow: 1px 1px 2px black; /* Shadow params */}



/* Tech info div */
#techInfo{word-break:break-all;} /*breaks the line so it does not overlap div space*/


.img-small{width:40%;}



.footer {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef; /* #2ba6cb; */
  text-align: center;  
}


/*  Upload link at top right */
.upload{
	position:absolute;
	right: 1%;
	top:0.5em;
	cursor:pointer;
	font-size:1em;
	text-color:white;
}

.upload a{ color:white;}